
<form #f3="ngForm" (ngSubmit)="f3.form.valid &&  createOrUpdateHotelPricing()">
    <div #hotelPricingItem >
        <div class="col-lg-12" style="text-align:left !important; color:black !important;" id="hotelPricingItemView">
            <h4>Hotel Pricing</h4>
            <div>
                <div>
                    <label>Select Hotel Pricing to Edit, View or Update</label>
                    <div class="form-group" id="divDealName">
                        <label>Hotel Pricing Id - optional: Hotel Pricing Name</label>
                        <select name="id" id="name" [ngModel]="hotelPricing.hotelPricingId" required #name="ngModel"></select>
                        <div *ngIf="f3.submitted && name.invalid" class="text-danger">
                            Pricing name required
                        </div>
                    </div>
                </div>
                <div *ngIf="hotelPricing.model.editable">
                    <label>Or Create a new Hotel Pricing Scheme</label>
                    <div class="form-group" id="divDealName">
                        <label>Hotel Pricing Name</label>
                        <input type="text" name="name" [(ngModel)]="hotelPricing.name" required #name="ngModel" />
                        <div *ngIf="f3.submitted && name.invalid" class="text-danger">
                            Pricing name required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Hotel Pricing Description</label>
                    <div *ngIf="hotelPricing.model.editable">
                        <textarea name="description" [(ngModel)]="hotelPricing.description" required #description="ngModel"></textarea>
                        <div *ngIf="f3.submitted && description.invalid" class="text-danger">
                            Description required
                        </div>
                        <div class="text-info">
                            <label>Hotel Price</label>
                            <input type="number" name="price" value="0.00" [(ngModel)]="hotelPricing.price" required #price="ngModel" />
                            <div *ngIf="f3.submitted && price.invalid" class="text-danger">
                                Price required
                            </div>
                        </div>
                    </div>
                    <div *ngIf="hotelPricing.model.viewable">
                        <div class="text-info">
                            {{hotelPricing.description}}
                        </div>
                        <div class="text-info">
                            <label>Hotel Price</label>
                            <div>£{{hotelPricing.price}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!this.hotelPricing.model.disableUpdateOrCreateButton">
                <div *ngIf="hotelPricing.model.editable">
                    <label>Hotel Pricing Operations:</label>
                    <input type="button" class="btn-primary" value="Select Hotel Pricing" (click)="SelectHotelPricing()" />
                    <input type="submit" class="btn-primary" value="Create Hotel Pricing" (click)="CreateHotelPricing()" id="UpdateOrCreate" />
                    <input type="submit" class="btn-primary" value="Update Hotel Pricing" (click)="updateHotelPricing()" id="UpdateOrCreate" />
                </div>
            </div>
            <div *ngIf="hotelPricing.model.viewable;">
                <label>Hotel Pricing Operations:</label>
                <input type="submit" class="btn-primary" value="Create  Hotel Pricing" (click)="CreateHotelPricing()" />
                <input type="submit" class="btn-primary" value="Update  Hotel Pricing" (click)="UpdateHotelPricing()" />
            </div>
        </div>
    </div>
</form>