<!-- Nav -->
<nav class="main-nav" style="position:relative;width:100%;height:auto;">
    <div style="text-align:center;"><a style="color:black !important;background-color:white !important; font-weight:bolder !important;font-size:larger !important;padding:5px !important;border-bottom:dashed thin gray !important;" [routerLink]="['/home']">Simba Tours East Africa</a><br /></div>
    <div style="position:relative !important;margin-bottom:5px;text-align:left;">
        <span style="color:red;background-color:black;padding:5px;display:none;font-size:small;" class="col-lg-4" id="loginName"></span><br />
    </div>
    <ul id="menubarlist" class="links" style="position:relative;">
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/home']">
                Home
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/fetch-data']">
                Fetch data
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/contactus']">
                Contact Us
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/aboutus']">
                About Us
            </a>
        </li>
        <ng-container *ngIf="actUserStatus.isUserLoggedIn" ngModel="actUserStatus" ngDefaultControl>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/book-tour']">
                    Book tour
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/make-Payments']">
                    Pay Installments
                </a>
            </li>
            <li [routerLinkActive]="['link-active']" (click)="logOut()">
                <span>
                    <a href="#">
                        Log out
                    </a>
                </span>
            </li>
        </ng-container>
        <ng-container *ngIf="actUserStatus.isUserLoggedIn && actUserStatus.isUserAdministrator" ngModel="actUserStatus" ngDefaultControl>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/add-hotel']">
                    Add Hotel
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/transport-pricing']">
                    Transport
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/schedules-admin']">
                    Schedules
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/deal-pricing']">
                    Deals
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/hotel-pricing']">
                    Hotels
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/laguage-pricing']">
                    Laguages
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/meal-pricing']">
                    Meals
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/manage-roles']">
                    Roles
                </a>
            </li>
        </ng-container>
        <ng-container *ngIf="!(actUserStatus.isUserLoggedIn)" ngModel="actUserStatus" ngDefaultControl>
            <li [routerLinkActive]="['link-active']">
                <a (click)="setIsLogInPage()" [routerLink]="['/login']">
                    login
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/register']">
                    Register
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/forgot-password']">
                    Forgot password
                </a>
            </li>
        </ng-container>
    </ul>
    <ul class="icons">
        <li><a href="#" class="icon alt fa-twitter addthis_button_twitter" style="color:lightblue !important;"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon alt fa-facebook addthis_button_facebook" style="color:lightblue !important;"><span class="label">Facebook</span></a></li>
        <li><a href="https://pdfcrowd.com/url_to_pdf/" class="icon alt fa-print" style="color:lightblue !important;"><span class="label">Print</span></a></li>
        <li><a href="#" class="addthis_counter addthis_bubble_style" style="color:lightblue !important;margin-top:10px;"></a></li>
    </ul>
</nav>
